<!-- SEO -->
{% block seo %}
<!-- Blog, Kakao -->
<meta property="og:title" content="콘텐츠 제목"> 
<meta property="og:url" content="웹페이지 URL"> 
<meta property="og:type" content="웹페이지 타입(blog, website 등)">
<meta property="og:image" content="표시되는 이미지">
<meta property="og:site_name" content="웹사이트 이름(URL과 다름)">
<meta property="og:description" content="웹페이지 설명(제목 아래에 표시)">
<!-- Twitter -->
<meta name="twitter:card" content="트위터 카드 타입(요약정보, 사진, 비디오)">
<meta name="twitter:title" content="콘텐츠 제목">
<meta name="twitter:description" content="웹페이지 설명">
<meta name="twitter:image" content="표시되는 이미지">
{% endblock %}

<!-- head link, js -->
{% set title = "Home" %} 
{% set style = "pages/main.css" %}

<!-- html template -->
{% extends "base.html" %} 

{% block content %}
<main class="content">
  <div class="page-width">
    <h1>Gulp Boilerplate</h1>
    <p>A basic Gulp boilerplate to get developing locally with a few helpful tools already set up.</p>
    <div class="bg">
      <div class="inner-text">
        <h3>Inner Text</h3>
        <p class="t1">한글 긴 문장 테스트한글 긴 문장 테스트 한글 긴 문장 테스트한글 긴 문장 테스트 한글 긴 문장 테스트한글 긴 문장 테스트한글 긴 문장 테스트 한글 긴 문장 테스트한글 긴 문장 테스트 한글 긴 문장 테스트한글 긴 문장 테스트 한글 긴 문장 테스트 한글 긴 문장 테스트 한글 긴 문장 테스트</p>

        <p class="t2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe veritatis unde similique dicta expedita qui deserunt earum velit ipsa, architecto animi temporibus laudantium numquam, sunt, ad sequi voluptates! Et eius, nam quisquam at dicta quia nesciunt a eaque veritatis earum labore autem laudantium perferendis aliquam tenetur ipsum, </p>
      </div>
    </div>
    <ul class="list">
      <li>item 1</li>
      <li>item 2</li>
      <li>item 3</li>
    </ul>
  </div>
</main>
{% endblock %}
