<!-- SEO -->
{% block seo %}
<!-- Blog, Kakao -->
<meta property="og:title" content="콘텐츠 제목"> 
<meta property="og:url" content="웹페이지 URL"> 
<meta property="og:type" content="웹페이지 타입(blog, website 등)">
<meta property="og:image" content="표시되는 이미지">
<meta property="og:site_name" content="웹사이트 이름(URL과 다름)">
<meta property="og:description" content="웹페이지 설명(제목 아래에 표시)">
<!-- Twitter -->
<meta name="twitter:card" content="트위터 카드 타입(요약정보, 사진, 비디오)">
<meta name="twitter:title" content="콘텐츠 제목">
<meta name="twitter:description" content="웹페이지 설명">
<meta name="twitter:image" content="표시되는 이미지">
{% endblock %}

<!-- head link, js -->
{% set title = "SVG Framework" %} 
{% set style = "pages/svg_ex.css" %}

<!-- html template -->
{% extends "base.html" %} 

{% block content %}
<main class="content">

  <div class="page-width">
    <h1>SVG Framework 적용</h1>

    <div class="icons-container">
      
      <!-- SVG Framework (./images/svg/sprite.svg) -->
      <a class="icon-container icon-container--facebook">
        <svg class="icon icon--facebook">
          <use xlink:href="./images/svg/sprite.svg#facebook" href="./images/svg/sprite.svg#facebook"></use>
        </svg>
      </a>
      
      <a class="icon-container icon-container--twitter">
        <svg class="icon icon--twitter">
          <use xlink:href="./images/svg/sprite.svg#twitter" href="./images/svg/sprite.svg#twitter"></use>
        </svg>
      </a>
      
      <a class="icon-container icon-container--linkedin">
        <svg class="icon icon--linkedin">
          <use xlink:href="./images/svg/sprite.svg#linkedin" href="./images/svg/sprite.svg#linkedin"></use>
        </svg>
      </a>
      
    </div>

  </div>

</main>
{% endblock %}